@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.cart-product-image {
  width: 300px;
  height: 300px;
}
.cart-product-image:hover {
  transform: scale(1.2);
  transition: all 0.4s linear;
}

.cart-product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.back-btn {
  padding: 20px 10px;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: green;
}

.no-item-cart {
  font-size: 0.8rem;
  border: 1px solid black;
  height: 50px;
  padding: 10px 40px;
}

.back-btn:hover {
  transform: scale(1.2);
}

.back-btn::before {
  content: "<  ";
}

.cart-add-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.cart-add-btn:hover {
  cursor: pointer;
  transition: all 0.5s linear;
  transform: scale(1.1);
}

.cart-alert {
  font-size: 0.8rem;
  color: red;
}

.productpage-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .productpage-container {
    grid-template-columns: 1fr 2fr;
  }
}
.cart-product-desc {
  font-size: 0.8rem;
}

.cart-rate-btn {
  background-color: rgba(0, 128, 0, 0.586);
  color: white;
  border: none;
  padding: 2px 5px;
}

@media screen and (min-width: 568px) {
  .cart-product-image {
    width: 250px;
    height: 250px;
  }
}
.search-bar {
  display: flex;
  padding: 5px 10px;
  border-radius: 20px;
  opacity: 0.5;
  width: 120px;
  border: 0.5px solid green;
  transition: all 1s linear;
}

.searchbar {
  color: green;
  font-size: 1rem;
}

@media screen and (min-width: 568px) {
  .search-bar {
    width: 200px;
  }
}
.search-bar:hover {
  opacity: 1;
  transition: all 0.5s linear;
}

.cart-badge {
  position: relative;
}

.badge {
  position: absolute;
  background-color: red;
  color: white;
  padding: 3px 7px;
  border-radius: 50%;
  transform: translate(-10px, 9px);
}

.cart-product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  border: 1px solid black;
  padding: 10px 40px;
  text-align: center;
}

.cartpage-quantity {
  color: green;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
}

.btn-cart-ra:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-btn {
  padding: 10px 5px;
  border-radius: 10px;
}

.cart-product-card-grid {
  font-size: 0.7rem;
  padding: 20px 30px;
}

.total-price-grid {
  display: grid;
  grid-column: 1/4;
}

.cart-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: min(5dvw, 200px);
  border: 1px solid black;
}
.cart-container ul {
  padding: 0;
}

.cartpage-price {
  color: rebeccapurple;
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  .cart-product-card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .total-price-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .cart-container {
    grid-template-columns: 3fr 1fr;
    gap: 20px;
  }
}
.shipping-cart {
  padding: 0px 50px;
  border: 1px solid black;
}
.shipping-cart h1 {
  font-size: 0.8rem;
}
.shipping-cart .header {
  font-size: 1rem;
}
.shipping-cart address {
  padding: 0px 45px;
}

.order-confr-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 400px;
  color: black;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* backdrop blur */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.77); /* optional shadow for depth */
  border-radius: 20px;
}
.order-confr-container .header {
  color: green;
}
.order-confr-container .shipping-address-card {
  width: 300px;
}

.shipping-address-card h1[class~=comma]::after {
  content: " ,";
}

.shipping-address-card h1[class~=name]::before {
  content: "Mr/Ms . ";
}

.shipping-address-card h1[class~=fathername]::before {
  content: "S/O  ";
}

.pay-btn {
  margin-top: 50px;
  max-width: 150px;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  .order-confr-container {
    width: 50dvw;
    height: 60dvh;
  }
}
.price-container-header {
  padding: 5px 0px;
  border-bottom: 1px solid black;
}

.cart-price-details {
  background-color: rgba(128, 128, 128, 0.084);
  padding: 10px 20px;
  font-size: 0.6rem;
  font-weight: 400;
}
.cart-price-details ul {
  padding: 0%;
}
.cart-price-details li {
  display: flex;
  justify-content: space-between;
}
.cart-price-details .delivery-charge {
  color: green;
}
.cart-price-details span {
  color: gray;
}
.cart-price-details .place-order-btn {
  padding: 15px 10px;
  background-color: rgb(198, 91, 52);
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
}

.address-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* backdrop blur */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.77); /* optional shadow for depth */
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 70dvw;
  gap: 10px;
  font-family: "Poppins";
}
.address-card .header {
  font-size: 2rem;
}
.address-card input {
  width: 60vw;
  max-width: 450px;
  padding: 20px 10px;
  font-size: 1rem;
  color: green;
  font-family: "Poppins";
}
.address-card input:focus {
  border: 1px solid green;
}
.address-card button {
  font-family: "Poppins";
  padding: 10px 20px;
  background-color: green;
  color: white;
  border-radius: 10px;
  border: none;
}
.address-card button:hover {
  transform: scale(1.2);
  transition: all 2s linear;
}

@media screen and (min-width: 768px) {
  .address-card {
    width: 500px;
  }
}
.shipping-address-card {
  border: 1px solid black;
  padding: 10px 30px;
}
.shipping-address-card .header {
  font-size: 0.8rem;
}
.shipping-address-card address h1 {
  font-size: 0.8rem;
  margin-left: 30px;
}
.shipping-address-card .alert {
  color: red;
  font-size: 1rem;
}

.orderpage-main {
  padding: max(30px, 1%);
}

.placed {
  color: green;
}

.cancelled {
  text-decoration: line-through;
  color: red;
}

.orderpage-container {
  padding: 0%;
  margin: 0;
}
.orderpage-container .orderpage-section {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 0.5rem;
}
.orderpage-container img {
  width: 50px;
  height: 50px;
}
.orderpage-container .orderpage-btn-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.orderpage-container .orderpage-btn-collection button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10px;
}
.orderpage-container .orderpage-btn-collection button:hover {
  transform: scale(1.1);
  transition: all 0.5s linear;
}
.orderpage-container .orderpage-btn-collection .track {
  background-color: green;
  padding: 10px 30px;
}
.orderpage-container .orderpage-btn-collection .cancel {
  background-color: rgba(130, 7, 7, 0.707);
}

@media screen and (min-width: 1024px) {
  .orderpage-details-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2.5fr 0.5fr;
    align-items: center;
    font-size: 0.6rem;
    gap: 20px;
  }
  .orderpage-container {
    padding: 20px;
    grid-template-columns: 4fr 1fr;
  }
  .orderpage-container img {
    width: 100px;
    height: 100px;
  }
  .orderpage-container button {
    max-width: 100px;
  }
}
.payment-container {
  border: 1px solid black;
  padding: 0px 20px 20px;
}
.payment-container h1 {
  font-size: 1rem;
}

.methods {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.methods section {
  display: flex;
  gap: 10px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db; /* Blue spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
body {
  padding: 0;
  margin: 0;
}

.search-section {
  display: flex;
  align-items: center;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: blue;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
  font-size: 0.3rem;
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.searchbar {
  display: flex;
  background-color: transparent;
  outline: none;
  border: none;
}

.navigationbar {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  padding: 0px 30px 0px 10px;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.351);
}

.btn-myorder {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
}
.btn-myorder:hover {
  transition: all 0.5s linear;
  transform: scale(1.1);
}

.person {
  background-color: rgba(128, 128, 128, 0.169);
  border-radius: 50%;
}

.product-title {
  font-size: 0.8rem;
}

.right-container {
  display: flex;
  gap: 10px;
}

.product-image {
  width: 80px;
  height: 80px;
}

li {
  list-style: none;
}

.product-container {
  background-color: rgba(128, 128, 128, 0.104);
  padding: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
}
.product-container h1 {
  font-size: 0.8rem;
}
.product-container .product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-container .product-title {
  white-space: wrap;
  text-overflow: ellipsis;
  max-width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
}
.product-container .product-card {
  border: 1px solid rgba(128, 128, 128, 0.097);
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}
.product-container .product-card:hover .product-image {
  transform: scale(1.2);
  transition: all 0.2s linear;
}

@media screen and (min-width: 568px) {
  .logo {
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 568px) and (max-width: 999px) {
  .navigationbar {
    padding: 0px 50px;
  }
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1000px) {
  .navigationbar {
    padding: 0px 50px;
  }
  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .product-card-footer {
    display: flex;
    gap: 20px;
  }
}/*# sourceMappingURL=main.css.map */