.cart-product-image {
  width: 300px;
  height: 300px;
}

.back-btn {
  padding: 20px 10px;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: green;
}

.back-btn:hover {
  transform: scale(1.2);
}

.back-btn::before {
  content: "<  ";
}

.cart-add-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.cart-add-btn:hover {
  cursor: pointer;
  transition: all 0.5s linear;
  transform: scale(1.2);
}

.cart-alert {
  font-size: 0.8rem;
  color: red;
}

.productpage-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .productpage-container {
    grid-template-columns: 1fr 2fr;
  }
}
.cart-product-desc {
  font-size: 0.8rem;
}

.cart-rate-btn {
  background-color: rgba(0, 128, 0, 0.586);
  color: white;
  border: none;
  padding: 2px 5px;
}

@media screen and (min-width: 568px) {
  .cart-product-image {
    width: 450px;
    height: 450px;
  }
}
.search-bar {
  display: flex;
  padding: 5px 10px;
  border-radius: 20px;
  opacity: 0.5;
  width: 150px;
  border: 0.5px solid green;
  transition: all 1s linear;
}

.searchbar {
  color: green;
  font-size: 1rem;
}

@media screen and (min-width: 568px) {
  .search-bar {
    width: 250px;
  }
}
.search-bar:hover {
  opacity: 1;
  transition: all 0.5s linear;
}

.cart-badge {
  position: relative;
}

.badge {
  position: absolute;
  background-color: red;
  color: white;
  padding: 3px 7px;
  border-radius: 50%;
  transform: translate(-10px, 9px);
}

.cart-product-card {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  border: 1px solid black;
  padding: 10px 40px;
  text-align: center;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-btn {
  padding: 10px 5px;
  border-radius: 10px;
}

.cart-product-card-grid {
  font-size: 0.7rem;
  padding: 20px 30px;
}

.total-price-grid {
  display: grid;
  grid-column: 1/4;
}

.cart-container {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid black;
}
.cart-container ul {
  padding: 0;
}

.cart-price-details {
  background-color: rgba(128, 128, 128, 0.084);
  padding: 10px 20px;
  font-size: 0.8rem;
  font-weight: 400;
}
.cart-price-details ul {
  padding: 0%;
}
.cart-price-details li {
  display: flex;
  justify-content: space-between;
}
.cart-price-details .delivery-charge {
  color: green;
}
.cart-price-details span {
  color: gray;
}

.place-order-btn {
  padding: 15px 10px;
  background-color: rgb(210, 93, 51);
  color: white;
  border: none;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .cart-product-card {
    grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr;
  }
  .total-price-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .cart-container {
    grid-template-columns: 3fr 1fr;
  }
}
.shipping-cart {
  padding: 0px 50px;
  border: 1px solid black;
}
.shipping-cart h1 {
  font-size: 0.8rem;
}
.shipping-cart .header {
  font-size: 1rem;
}
.shipping-cart address {
  padding: 0px 45px;
}

.order-confr-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  background-color: rgb(2, 2, 2);
  width: 50dvw;
  color: white;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pay-btn {
  margin-top: 50px;
  max-width: 150px;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
}

body {
  padding: 0;
  margin: 0;
}

.search-section {
  display: flex;
  align-items: center;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: blue;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
  font-size: 0.6rem;
}

.searchbar {
  display: flex;
  background-color: transparent;
  outline: none;
  border: none;
}

.navigationbar {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  padding: 0px 30px 0px 10px;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.351);
  background-coor: rgba(128, 128, 128, 0.151);
}

.person {
  background-color: rgba(128, 128, 128, 0.169);
  border-radius: 50%;
}

.product-title {
  font-size: 0.8rem;
}

.right-container {
  display: flex;
  gap: 30px;
}

.product-image {
  width: 80px;
  height: 80px;
}

li {
  list-style: none;
}

.product-container {
  background-color: rgba(128, 128, 128, 0.104);
  padding: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}
.product-container h1 {
  font-size: 0.8rem;
}
.product-container .product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-container .product-card {
  border: 1px solid rgba(128, 128, 128, 0.097);
  padding: 20px;
  background-color: white;
}

@media screen and (min-width: 568px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=main.css.map */