.address-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    backdrop-filter: blur(10px); /* backdrop blur */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.77); /* optional shadow for depth */
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 70dvw;
    gap: 10px;
    font-family: "Poppins";


    .header{
        font-size: 2rem;
       
    }

    input {
        width: 60vw;
        max-width: 450px;
        padding: 20px 10px;
        font-size: 1rem;
        color: green;
        font-family: "Poppins";
        &:focus{
            border: 1px solid green;
        }
    }

    button{
        font-family: "Poppins";
        padding: 10px 20px;
        background-color: green ;
        color: white;
        border-radius: 10px;
        border: none;

        &:hover{
            transform: scale(1.2);
            transition: all 2s linear;
        }
    }

    

    .header {
    }
}

@media screen and (min-width: 768px) {
    .address-card {
        width: 500px;
    }
}
