

.cart-product-image{
    width: 300px;
    height: 300px;
}


.back-btn{
    padding: 20px 10px;
    border:none;
    background-color: transparent;
    font-size: 1rem;
    color: green;
}

.back-btn:hover{
    transform: scale(1.2);
}
.back-btn::before{
    content: "<  ";
}

.cart-add-btn{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.cart-add-btn:hover{
    cursor: pointer;
    transition: all 0.5s linear;
    transform: scale(1.2);
}

.cart-alert{
    font-size: 0.8rem;
    color: red;
}

.productpage-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


@media screen and (min-width: 768px) {
    .productpage-container{
        grid-template-columns: 1fr 2fr;
    }
}
.cart-product-desc{
    font-size: 0.8rem;
}


.cart-rate-btn {
    background-color: rgba(0, 128, 0, 0.586);
    color: white;
    border: none;
    padding: 2px 5px;
    
}

@media screen and (min-width : 568px) {
    .cart-product-image{
        width: 450px;
        height: 450px;
    }


  
    
}