


.cart-product-card{
    display: grid;
    grid-template-columns:1fr 1fr;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 10px 40px;
    text-align: center;
  
}

.cartpage-quantity{
    color: green;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
}


.btn-cart-ra:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.cart-header{
    display: flex;
    font-family: "Poppins";
    font-size: 0.9rem;
    align-items: center;
    justify-content: space-between;
}
.cart-btn{
    padding: 10px 8px ;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: "Poppins";
}


.cart-product-card-grid{
    font-size: 0.7rem;
    padding: 20px 30px;
}

.total-price-grid{
    display: grid;
    grid-column:  1/4;
}

.cart-container{
    background-color: rgba(128, 128, 128, 0.075);
    display: grid;
    grid-template-columns: 1fr;
    padding: min(3dvw , 100px);
    border: 1px solid black;

    ul{
        padding: 0;
    }
}






.cartpage-price{
    color: rebeccapurple;
    font-size: 0.9rem;
}

@media screen and (min-width : 990px) {
    .cart-container{
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }
}


@media screen and (min-width : 768px) {
    
    .cart-product-card{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .total-price-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;

    }

 
}