


.cart-product-card{
    display: grid;
    grid-template-columns:1fr 1fr;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    border : 1px solid black;
    padding: 10px 40px;
    text-align: center;
  
}

.cartpage-quantity{
    color: green;
    font-size: 0.8rem;
}

.cart-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-btn{
    padding: 10px 5px ;
    border-radius: 10px;
}


.cart-product-card-grid{
    font-size: 0.7rem;
    padding: 20px 30px;
}

.total-price-grid{
    display: grid;
    grid-column:  1/4;
}

.cart-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: min(5dvw , 200px);
    border: 1px solid black;

    ul{
        padding: 0;
    }
}

.cart-price-details{

    background-color: rgba(128, 128, 128, 0.084);
    padding: 10px 20px;
    font-size: 0.8rem;
    font-weight: 400;

    ul{
        padding: 0%;
    }

    li{
        display: flex;
        justify-content: space-between;
    }

    .delivery-charge{
        color: green;
    }

    span{
        color: gray;
    }

}

.place-order-btn{
    padding: 15px 10px;
    background-color: rgb(210, 93, 51);
    color: white;
    border: none;
    border-radius: 10px;
}


.cartpage-price{
    color: rebeccapurple;
    font-size: 0.9rem;
}


@media screen and (min-width : 768px) {
    
    .cart-product-card{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .total-price-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;

    }

    .cart-container{
        grid-template-columns: 3fr 1fr;
        gap: 20px;
    }
}