

.offer-banner{
    width: 90vw;
    height: 150px;
   
}

.banner{
    width: 100vw;
    height: 200px;
    background-color: rgba(255, 166, 0, 0.566);
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 50px;
    z-index: -1000;
}

@media screen and (min-width : 568px) {
    .banner{
    height: 500px;
    }

    .offer-banner{
        height: 450px;
    }
}