

.offer-banner{
    width: 100vw;
    height: 250px;
    position: sticky;
    top: 50px;
    z-index: -1000;
}

@media screen and (min-width : 568px) {
    .offer-banner{
    height: 500px;

    }
}