

.orderpage-main{
    padding: max(30px , 1%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background-color: rgba(128, 128, 128, 0.075);
}

.placed{
    color: green;
}

.cancelled{
    text-decoration: line-through;
    color: red;
}
.orderpage-container{
        padding: 0%;
        margin: 0;
    .orderpage-section{
        max-width: 900px;
        background-color: white;
        margin: 10px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 3fr 2fr;
        align-items: center;
       padding: 10px 20px; 
        font-size: 0.5rem;
    }

    
    img{
        width: 50px;
        height: 50px;
    }




    .orderpage-btn-collection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 30px;

 

    button{
        padding: 10px;
        color: white;
        border: none;
        border-radius: 10px;

        &:hover{
            transform: scale(1.1);
            transition: all 0.5s linear;
        }
    }

    .track{
        background-color: green;
        padding: 10px 30px;
    }

    .cancel{
        background-color: rgba(130, 7, 7, 0.707);
       
    }

    }

}

@media screen and (min-width :1024px) {


  
    .orderpage-details-container{
        display: grid;
        grid-template-columns: 1fr 3fr 2fr 2.5fr 0.5fr;
        align-items: center;
        font-size: 0.6rem;
        gap: 20px;
   
    
    }


    .orderpage-container{
        padding: 20px ;
        grid-template-columns: 4fr 1fr;



        img{
            width: 100px;
            height: 100px;
        }


        button{

            max-width: 100px;
        
        }
    
    }
}