

.price-container-header{
    padding: 5px 0px;
    border-bottom: 1px solid black;
}


@keyframes bannerBlur {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.cart-price-details{


    .cartpage-offer-banner{
        width: 100%;
        margin-top: 30px;
        animation: bannerBlur 2s infinite linear;
    }

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    font-size: 0.6rem;
    font-weight: 400;

    ul{
        padding: 0%;
    }

    li{
        display: flex;
        justify-content: space-between;
    }

    .delivery-charge{
        color: green;
    }

    span{
        color: gray;
    }

    .total-amount-section{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .place-order-btn{
        padding: 15px 15px;
        background-color:  #0c9c78;
        color: white;
        border: none;
        margin-top: 20px;
        font-family: "Poppins";
        border-radius: 10px;
    }

}