

.price-container-header{
    padding: 5px 0px;
    border-bottom: 1px solid black;
}

.cart-price-details{

    font-family: "Poppins";
    background-color: rgba(239, 239, 239, 0.821);
    padding: 10px 20px;
    font-size: 0.6rem;
    font-weight: 400;
    border: 1px solid black;

    ul{
        padding: 0%;
    }

    li{
        display: flex;
        justify-content: space-between;
    }

    .delivery-charge{
        color: green;
    }

    span{
        color: gray;
    }

    .total-amount-section{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .place-order-btn{
        padding: 15px 15px;
        background-color: rgb(236, 145, 8);
        color: white;
        border: none;
        margin-top: 20px;
        font-family: "Poppins";
        border-radius: 10px;
    }

}