

.search-bar{
    display: flex;
    padding: 5px 10px;
    border-radius: 5px;
    width: 140px;
    border-radius: 50px;
    border: 1px solid black;
    transition: all 1s linear;
    background-color: rgba(255, 255, 255, 0.185);
}



.searchbar{
    padding: 0 10px;
    font-size: 1rem;
    color: white;
    &:placeholder-shown{
        color: white;
    }
}


@media screen and (min-width : 568px) {

    .search-bar{
        width: 30dvw;
    }
}

.search-bar:hover{
    opacity: 1;
    transition: all 0.5s linear;
}
