

.search-bar{
    display: flex;
    padding: 5px 10px;
    border-radius: 5px;
    width: 120px;
    border: 1px solid black;
    transition: all 1s linear;
    background-color: white;
}



.searchbar{
    font-size: 1rem;
    &:placeholder-shown{
        color: black;
    }
}


@media screen and (min-width : 568px) {

    .search-bar{
        width: 200px;
    }
}

.search-bar:hover{
    opacity: 1;
    transition: all 0.5s linear;
}
