

.search-bar{
    display: flex;
    padding: 5px 10px;
    border-radius: 20px;
    opacity: 0.5;
    width: 100px;
    border: 0.5px solid green;
    transition: all 1s linear;
}

.searchbar{
    color: green;
    font-size: 1rem;
}


@media screen and (min-width : 568px) {
    .searchbar{
        width: 450px;
    }
}

.search-bar:hover{
    opacity: 1;
    transition: all 0.5s linear;
}
