

.shipping-address-card{
    border: 1px solid black;
    padding: 10px 30px;
    .header{
        font-size: 0.8rem;
    }

    address{
        h1{
            font-size: 0.8rem;
            margin-left: 30px;
        
        }
        

    }


   .alert{
    color: red;
    animation: blink 1s infinite;
   }

}


@keyframes blink {
    0%{
        opacity: 0%;
    }100%{
        opacity: 100%;
    }
}