
.shipping-cart{
    padding: 0px 50px;
    border: 1px solid black;

    h1{
        font-size: 0.8rem;
    }

    .header{
        font-size: 1rem;
    }

    address{
        padding: 0px 45px;
    }
}