

.shipping-address-card{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 30px;
    font-family: "Poppins";
    .header{
        font-size: 1rem;
    }

    ul{
        padding: 0px 40px;

        li{
            font-size: 0.4rem;
        }
    }

    address{
        h1{
            font-size: 0.8rem;
            margin-left: 30px;
        
        }
        

    }


   .alert{
    color: red;
    font-size: 1rem;
   }

}


